@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900& display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

/* Header section start */
.head-container{
    background-color: #ff8f0e5d;
}

.display-flex {
    display: flex;
}
/* color dark 1 */
.text-dark-gray{
    color: #131313;
}

/* color dark 2 */

.text-gray{
    color: #424242;
}
/* color dark 3 */

.text-light-gray{
    color: #727272;
}

/* nav bar design */

.nav-bar{
    justify-content: space-between;
    max-width: 1440px;
    align-items: center;
}

.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.item-nav{
     list-style: none;
     margin-right: 30px;
}

.nav-link a{
    text-decoration: none;
}

.btn1{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600px;
}

/* banner style */
.banner-container{
    margin: 0 auto;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-image{
    justify-content: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-content img{
    width: 100%;
    margin: 0 auto;
    

}
.word1{
    font-size: 2.7rem;
}
.word2{
    font-size: 2.7rem;
    font-weight: bold;
}
.word3{
    color: #FF900E;
    font-size: 2.7rem;
    font-weight: bold;
}


/* Header section End */

.feature-container{
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 8px;
}
.image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.feature-content{
    margin-left: 73px;
    max-width: 537px;
}
.feature-container2 p{
    font-size: 1rem;
    font-weight: 500px;
    line-height: 20px;

}
.feature-container2{
    margin: 25px;
    margin: 20px;
    max-width: 100%;
    height: 1059px;
    justify-content: center;
    align-items: center;
}
.feature2-title{
    max-width: 586px;
    margin-left: 20px;
    max-height: 982px;
    justify-content: space-evenly;
}
.feature-content{
    margin: 20px;
}
.architect-image{
    max-width: 708px;
    max-height: 982px;

}
.box{
    box-shadow: 0 6px 5px #72727248;
    border: none;
    margin: 20px;
}
.box h3{
    font-size: 20px;
    font-weight: 600px;
}
.box p{
    font-size: 18px;
    line-height: 20px;
}

/* responsive media query */

@media screen and (max-width: 576px) {
    .nav-bar,.nav-link,.feature-container{
        flex-direction: column;
    }
}

/* medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {

    .feature-container{
        flex-direction: column;
    }
    
}